{% extends 'header.html' %}
{% block body %}

<style>
    table, th, td {
      border:2px solid black;
    }
</style>

<div class="header">
    <h2>Blog {{user.username}}</h2>
</div>
{% for post in posts %}
<div class="row">
    <div class="leftcolumn">
        <div class="card">
            <table> 
                <tr>
                <th><h2>{{ post.title }}</h2></th>
                </tr>
                <tr>
                <td><h5>{{ post.datePosted }}</h5></td>
                </tr>
                <tr>
                    <td><p>{{ post.text }}</p></td>
                </tr>
            </table> 
        </div>
        <br>
  <div class="footer">
    
    <form action="{{ url_for('updatepost', pid=post.id) }}">
        <input type="submit" value="Update" />
    </form>

    <form action="{{ url_for('deletepost', pid=post.id) }}">
        <input type="submit" value="Delete post" />
    </form>
    

</div> 
{% endfor %}
<br>
{% endblock body %}