
<h2>No worries, you won't have to read anything because there's literally nothing to read.</h2>
<br>
<h6>And you were not going to read it anyways...</h6>
<br>
<h6>:(</h6>
<br>
<a href="register"> <button type="button">Go Back</button> </a>

<br>
<br>
<br>
<br>
<br>
<head>
  <title>Button</title>
  <link rel="stylesheet" href="./style.css">
</head>
<body>
  <div id="center">
    <a href="https://youtu.be/dQw4w9WgXcQ?autoplay=1">
    <button style=" background-color: #00e1ff;
                    border-radius: 70px;
                    width: 75px;
                    height: 75px;
                    ">
      Click This

    </button>
    </a>
    </div>